<a href="https://colab.research.google.com/github/Maria-Vereina/LAB/blob/main/%D0%9B%D0%B0%D0%B1%E2%84%965.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**5.2.1. Глобальные и локальные функции**

![image.png]()

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_01.
#
# Выполнила: Вереина М.С.
# Группа: адэу-211
# E-mail: VereinaMS@mgpu.ru


def sgn(x):
    global s
    if x > 0:
      s = 1
    elif x == 0:
      s = 0
    else:
      s = -1
    return s        #Вернуть результат сигнум-функции.

x = float(input('Введите x: '))
y = float(input('Введите y: '))

z = (sgn(x) + y**2)/(sgn(y) - (abs(x)**(1/2)))

print("Ответ:", round(z,2))

# --------------
# Пример вывода:
#
# Введите x: -9
# Введите y: 0
# Ответ: 0.33

Введите x: -9
Введите y: 0
Ответ: 0.33

**№ 5.2.2**

Дан список температурных изменений в течение дня (целые числа). Известно, что измеряющее устройство иногда сбоит и записывает отсутствие температуры (значение *None*).

Выведите среднюю температуру за наблюдаемый промежуток времени, предварительно очистив список от неопределенных значений. Гарантируется, что хотя бы одно определенное значение в списке есть.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_02.
#
# Выполнила: Вереина М.С.
# Группа: адэу-211
# E-mail: VereinaMS@mgpu.ru


def avg(data):
  sum = 0
  for number in data:
    sum += int(number)
  avg_number = sum / len(data)
  return avg_number

def cleared_data(data):
    for number in data:
      if number == None:
        data.remove(number)
    return data

n = int(input('Количество измерений: '))
data = []

for i in range(n):
  temp = input('Измерение {}-е: '.format(i+1))
  if temp == "-":
    temp = None
  data.append(temp)
cleared_data(data)
print("Средняя температура:", avg(data))

# Удалите комментарий и допишите код

# Получить очищенный список и среднее значение
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Кол-во измерений: 3
# Измерение 1-е: 10
# Измерение 2-е: -
# Измерение 3-е: 20
# Средняя температура: 15.00

Количество измерений: 3
Измерение 1-е: 10
Измерение 2-е: -
Измерение 3-е: 20
Средняя температура: 15.0

**№ 5.2.3**

Выведите все счастливые номера билетов в диапазоне от *a* до *b* (положительные целые числа, *a < b*), если известно, что счастливым считается номер, у которого количество четных цифр равно количеству нечетных.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_03.
#
# Выполнила: Вереина М.С.
# Группа: адэу-211
# E-mail: VereinaMS@mgpu.ru

def is_lucky(num):
  number1 = 0
  number2 = 0
  while num > 0:
    if (num % 10 % 2) == 0:
      number2 += 1
    else:
      number1 += 1
    num //= 10

  if number1 == number2:
    return True
  else:
    return False

def lucky_numbers(a, b):
    for num in range(a, b + 1):
      if is_lucky(num) == True:
        print(num, end = ' ')

a = int(input('Первый номер билета: '))
b = int(input('Последний номер билета: '))
lucky_numbers(a, b)
# --------------
# Пример вывода:
#
# Первый номер билета: 10
# Последний номер билета: 25
# 10 12 14 16 18 21 23 25

Первый номер билета: 10
Последний номер билета: 25
10 12 14 16 18 21 23 25

**№ 5.2.4**

Дата характеризуется тремя натуральными числами: день, месяц и год. Учитывая, что год может быть високосным, реализуйте две функции, которые определяют вчерашнюю и завтрашнюю дату.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_04.
#
# Выполнила: Вереина М.С.
# Группа: адэу-211
# E-mail: VereinaMS@mgpu.ru

#Является ли 'year' високосным годом?
def is_leap(year):
    if year % 4 == 0:
      days_feb=29
    else:
      days_feb=28
    return days_feb

#Вернуть количество дней в месяце 'month' года 'year'.
def days(month, year):
    day31 =[1,3,5,7,8,10,12]
    day30 =[4,6,9,11]
    if month in day31:
      date = 31
    elif month in day30:
      date = 30
    else:
      date = is_leap(year)
    return date

#Вернуть день, месяц, год предыдущего дня
def previous_date(day, month, year):
    if day == 1:
      month -=1
      if month == 0:
        year -= 1
        month = 12
        day = days(12, year)
      else:
        year = year
        month = month
        day = days(month,year)
    else:
      day -= 1
      month = month
      year = year
    return day, month, year

#Вернуть день, месяц, год следующего дня.
def next_date(day, month, year):
   if day == days(month,year):
     month += 1
     if month == 13:
       month = 1
       year += 1
       day = 1
     else:
        month += 1
        year = year
        day = 1
   else:
      day += 1
      month = month
      year = year
   return day, month, year

date = input('День, месяц, год через пробел: ').split(sep=' ')
day = int(date[0]) 
month = int(date[1])
year = int(date[2])

pday, pmonth, pyear = previous_date(day, month, year)
print('Предыдущий день: {:0>2}/{:0>2}/{:0>4}'.format(pday, pmonth, pyear))

nday, nmonth, nyear = next_date(day, month, year)
print('Следующий день: {:0>2}/{:0>2}/{:0>4}'.format(nday, nmonth, nyear))
# --------------
# Пример вывода:
#
# День, месяц, год через пробел: 1 3 2000
# Предыдущий день: 29/02/2000
# Следующий день: 02/03/2000

День, месяц, год через пробел: 1 3 2000
Предыдущий день: 29/02/2000
Следующий день: 02/03/2000

**№ 5.2.5**

В задаче № 5.2.4 замените функции получения вчерашней и завтрашней даты на одну:


def another_date(day, month, year, delta=1):

pass

где delta - ключевой параметр, определяющий сколько дней необходимо добавить или вычесть (если аргумент отрицательный) из переданной даты. Функции, реализованные в задаче № 5.2.4 сделайте локальными для another_date(), вызывая их внутри необходимое количество раз.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_05.
#
# Выполнила: Вереина М.С.
# Группа: адэу-211
# E-mail: VereinaMS@mgpu.ru

def is_leap(year):
    if year % 4 == 0:
      days_feb=29
    else:
      days_feb=28
    return days_feb

def days(month, year):
    day31 =[1,3,5,7,8,10,12]
    day30 =[4,6,9,11]
    if month in day31:
      date = 31
    elif month in day30:
      date = 30
    else:
      date = is_leap(year)
    return date

def another_date(day, month, year, delta=1):
  if delta < 0:
     day += delta
     if day <= 0:
       month -= 1
       if month == 0:
         month = 12
         year -= 1
         day = days(12,year)+day
         print(days(12,year))
       else:
         month = month
         year = year
         day = days(month,year)+day
     else:
        day = day
        month = month
        year = year
     return day, month, year
  elif delta > 0:
        day += delta
        if day > days(month,year):
          day = day-days(month,year)
          month += 1
          if month > 12:
            month -= 12
            year += 1
          else:
            month += 1
            year = year
        else:
          day = day
          month = month
          year = year
        return day, month, year
  else:
    return day, month, year

date = input('День, месяц, год через пробел: ').split(sep=' ')
day = int(date[0]) 
month = int(date[1])
year = int(date[2])

delta = int(input('Свдиг (может быть отрицательным): '))
day, month, year = another_date(day, month, year, delta)
print('Новый день: {:0>2}/{:0>2}/{:0>4}'.format(day, month, year))

# --------------
# Пример вывода:
#
# День, месяц, год через пробел: 1 1 2000
# Свдиг (может быть отрицательным): -2
# Новый день: 30/12/1999
#
# День, месяц, год через пробел: 1 1 2000
# Свдиг (может быть отрицательным): 2
# Новый день: 03/01/2000

День, месяц, год через пробел: 1 1 2000
Свдиг (может быть отрицательным): -2
31
Новый день: 30/12/1999

**№ 5.2.6**

Дан список из чисел.

Определите их НОК (наименьшее общее кратное) и НОД (наибольший общий делитель).

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_06.
#
# Выполнила: Вереина М.С.
# Группа: адэу-211
# E-mail: VereinaMS@mgpu.ru

#Вернуть НОД целых чисел 'first' и 'second'.
def gcd(first, second):
    while first != 0 and second != 0:
        if first > second:
            first = first % second
        else:  
            second = second % first
    return first + second          

#Вернуть НОК целых чисел 'first' и 'second'.
def lcm(first, second):
    if gcd(first, second) != 0:
        return (abs(first * second))/gcd(first, second)
    else:
        return 0

#Вернуть НОД чисел из списка 'nums'.
def gcd_nums(nums):
    result = nums[0]
    for i in range(1, len(nums)):
        result = gcd(result, nums[i])
    return result

#Вернуть НОК чисел из списка 'nums'.
def lcm_nums(nums):
    result = nums[0]
    for i in range(1, len(nums)):
        result = lcm(result, nums[i]) 
    return result

nums = [int(i) for i in input('Введите числа через пробел: ').split(sep=' ')]


nod = int(gcd_nums(nums))
nok = int(lcm_nums(nums))

print('НОД = ', nod)
print('НОК = ', nok)
# --------------
# Пример вывода:
#
# Введите числа через пробел: 8 10 14
# НОД = 2
# НОК = 280
#
# Введите числа через пробел: 6 8 24 16
# НОД = 2
# НОК = 48

Введите числа через пробел: 8 10 14
НОД =  2
НОК =  280

**№ 5.2.7**

Даны *n* предложений. Определите, сколько из них содержат хотя бы одну цифру.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_07.
#
# Выполнила: Вереина М.С.
# Группа: адэу-211
# E-mail: VereinaMS@mgpu.ru

#Определить, есть ли в предложении цифры.
def has_digits(sentence):
    for i in sentence: 
        if i in ['1', '2', '3', '4', '5', '6', '7', '8', '9']:
            return True
        
    return False  

#Определить, сколько предложений содержат хотя бы одну цифру.
def sentences_with_digits_count(sentences):
    count = 0
    for i in sentences:
        if has_digits(i):
            count += 1 
    return count

n = int(input("Введите количество предложений: "))

sentences = list()
for i in range(0, n):
    sentence = input('Введите предложение № {}: '.format(i+1))
    sentences.append(sentence)
s = sentences_with_digits_count(sentences)
print('Предложений с цифрой = ', s)
# --------------
# Пример вывода:
#
# Введите количество предложений: 3
# Введите предложение №1:
# Просто текст
# Введите предложение №2:
# Текст с цифрой 1 (один)
# Введите предложение №3:
# Тут нет цифры
# Предложений с цифрой = 1

Введите количество предложений: 3
Введите предложение № 1: Розы, конечно, красивые цветы, но я больше люблю ромашки
Введите предложение № 2: На руках и ногах по 5 пальцев
Введите предложение № 3: Блаблаблаблабла
Предложений с цифрой =  1

**№ 5.2.8**

Дана строка *s* и символ k. Реализуйте функцию, рисующую рамку из символа k вокруг данной строки, например:

![image.png]()

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_08.
#
# Выполнила: Вереина М.С.
# Группа: адэу-211
# E-mail: VereinaMS@mgpu.ru


def print_with_border(string, char):
    len(string) + 2
    print(char * (len(string)+2))
    print(char + string + char)
    print(char * (len(string)+2))


s = input("Введите строку: ")
k = input("Введите символ: ")

print_with_border(s,k)
# --------------
# Пример вывода:
#
# Введите строку: Просто текст
# Введите символ: +
# ++++++++++++++
# +Просто текст+
# ++++++++++++++

Введите строку: ПРОСТО ТЕКСТ
Введите символ: +
++++++++++++++
+ПРОСТО ТЕКСТ+
++++++++++++++

№ 5.2.9

Напишите функции для перевода числа ![image.png]():

из 10-й системы счисления в N-ю;

из N-й системы счисления в 10-ю.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_09.
#
# Выполнила: Вереина М.С.
# Группа: адэу-211
# E-mail: VereinaMS@mgpu.ru


LETTERS_EX = {10: "A", 11: "B", 12: "C", 13: "D", 14: "E", 15: "F"}
DIGITS_EX = {"A": 10, "B": 11, "C": 12, "D": 13, "E": 14, "F": 15}

#Преобразовать десятичное число 'number' в с.с. 'base'.
def to_base(number, base):
    res = ''
    while number >= base:
        ost = number % base
        if ost > 10:
            res = LETTERS_EX[ost] + res
        else:
            res = str(ost) + res
        number = number // base
    if number > 10:
        res = LETTERS_EX[number] + res
    else:
        res = str(number) + res
    return res


def from_base(number, base):
    count = 0
    res = 0
    for letter in reversed(number):
        if letter in DIGITS_EX.keys():
            i = DIGITS_EX[letter]
        else: 
            i = int(letter)    
        res += i * (base ** count)
        count += 1

    return res

print('Перевод десятичного числа 455 в шестнадцатиричную с.с. ', to_base(455, 16))
print('Перевод числа 22B из шестнадцатиричной с.с. в десятичную ', from_base('22B', 16))
# --------------
# Пример вывода:
#
# Нет

Перевод десятичного числа 455 в шестнадцатиричную с.с.  1C7
Перевод числа 22B из шестнадцатиричной с.с. в десятичную  555

**№ 5.2.10**

Для введенного предложения выведите статистику *символ=количество*. Регистр букв не учитывается.

In [42]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_10.
#
# Выполнила: Вереина М.С.
# Группа: адэу-211
# E-mail: VereinaMS@mgpu.ru

#Вернуть символьную статистику 'sentence'. Регистр не учитывается.
def sentence_stats(sentence):
  stats = {}
  for let in sentence:
      let = let.lower()
      if let not in stats.keys():
        stats[let] = 1
      else:
        stats[let] += 1
  return stats

s = input('Введите предложение: ')
print(sentence_stats(s))
# --------------
# Пример вывода:
#
# Введите предложение: мама МЫла РамУ
# {'л': 1, 'р': 1, 'у': 1, 'м': 4, 'а': 4, 'ы': 1, ' ': 2}

Введите предложение: мама МЫла РамУ
{'м': 4, 'а': 4, ' ': 2, 'ы': 1, 'л': 1, 'р': 1, 'у': 1}

**№ 5.2.16**

Составьте две функции для возведения числа в степень: один из вариантов реализуйте в рекурсивном стиле.

In [43]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_16.
#
# Выполнила: Вереина М.С.
# Группа: адэу-211
# E-mail: VereinaMS@mgpu.ru

#Вернуть 'value' в степени 'power'.
def pow1(value, power):
    v=value
    p=power
    return v**p

#Вернуть 'value' в степени 'power'. Рекурсивный алгоритм.
def pow2(value, power):
    v=value
    p=power
    if v==0 or v==1:
      return v
    else:
      return (v**p)*pow2(1,1)

print(pow1(5, 3))
print(pow2(5, 3))

# --------------
# Пример вывода:
#
# 125
# 125

125
125